.center {
  text-align: center;
}
.form{
  background-color:white;
}
.color-background{
  background-color:#28a745;
}
.color-form{
  background-color:white;
}
.shadow-employee{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0.1, 0.1, 0.2);
}

.right {
   text-align: right;
}

.left {
   text-align: left;
   margin-left:10px;
}
.shadow-xl{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.8), 0 10px 10px -5px rgba(0, 0.1, 0.1, 0.8);
}
body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

